# Ignore emacs backup files
*~

# Ignore doc/build
# these are stored in gh-pages orphan branch
doc/build

# Ignore macOS cache files
.DS_Store
#imke settings
icepack
case*
# Ignore testsuite file/directories
testsuite*
caselist*
case*
